<div class="limiter">
    <div class="helpText">
        Need an account ?<button class="textButton"  mat-stroked-button (click)="fnNavigateTOSignUp()"   >SignUp</button>

    </div>
    <div class="container-login">
        <mat-card>

            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form class="form-container" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

                    <mat-form-field appearance="outline">
                        <mat-label>Email_ID</mat-label>
                        <input formControlName="email" matInput placeholder="Enter Email_ID">
                        <mat-error
                            *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.errors.required">
                            password is required</mat-error>
                        <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.errors.email">
                            Enter valid email ex:test@gmail.com</mat-error>

                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" type="password">
                        <mat-error
                            *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.errors.required">
                            password is required</mat-error>
                        <mat-error
                            *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.errors.minlength">
                            password must min 8 character</mat-error>
                        <mat-error
                            *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.errors.maxlength">
                            password must max 16 character</mat-error>


                    </mat-form-field>

                    <div>


                        <button class="btn-block" mat-raised-button>LOGIN</button>

                    </div>
                </form>
            </mat-card-content>

        </mat-card>
    </div>
</div>